@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

#name {
    width:100px;
}


.heading {
    display: flex;
    justify-content: center;
}

.message {
    margin:3px;
}

.why {
    display: flex;
    justify-content: center;
    min-height:89vh;
    
}

.messagesContainer {
    border:2px solid rgb(172, 172, 82);
    width:90%;
    border-radius: 40px;

    display: flex;
    align-items: center;
    flex-direction: column;

    max-height: 89vh;
    overflow-y: auto;

}

* {
    margin:0;
    padding:0;
}

.mainContent {
    font-family: 'Fredoka';
}

html {
    background-color: rgb(255, 255, 146);
}

button {
    height:33.99px;
    border-radius:05px;
    border:1px solid rgb(172, 172, 82);
    background-color: rgb(255, 255, 105);
}

button:hover {
    background-color: rgb(227, 227, 107);
}

button:active {
    background-color: yellow;
}

input {
    height: 30.66px;
    width:200px;
    margin-right: 5px;

    font-family:'Fredoka';
    background-color: rgb(255, 255, 105);
    border:1px solid rgb(172, 172, 82);
    border-radius:5px;
    
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    position:absolute;
    bottom:10px;
    width:100%;
}


body {
    min-height: 100vh;
}